[submodule "surgiform-backend"]
	path = surgiform-backend
	url = https://github.com/nemodleo/surgiform-backend.git
[submodule "hackaton4FrontEnd"]
	path = hackaton4FrontEnd
	url = https://github.com/TK-Tony/hackaton4FrontEnd.git
	branch = dd
